<header
  class="w-full h-20 bg-primary grid fixed top-0 left-0 ring-0 z-20 shadow-2xl/5"
>
  <nav class="container mx-auto px-6 flex items-center justify-between">
    @if(pageLoad.isPageLoad()){
    <h2 class="w-40 h-4 bg-gray-200 rounded-full animate-pulse"></h2>
    <div class="flex space-x-4 lg:space-x-10 items-center animate-pulse">
      <div class="bg-gray-200 w-32 h-4 rounded-full"></div>
      <div class="bg-gray-200 w-14 h-14 rounded-full"></div>
    </div>
    }@else {
    <h2 class="text-[15px]/7 md:text-2xl tracking-tighter font-semibold">
      Where in the world?
    </h2>
    <div class="flex space-x-4 lg:space-x-10 items-center">
      <app-button />
      @if(authService.isLoggedIn()){
      <div
        class="size-10 md:size-14 rounded-full bg-bg flex items-center justify-center cursor-pointer"
        title="Logout"
        (click)="onLogout()"
      >
        <span class="material-icons-outlined"> logout </span>
      </div>
      }
    </div>
    }
  </nav>
</header>
