@import "tailwindcss";

@theme {
  --color-bg: #f2f2f2;
  --color-text: #111827;
  --color-primary: #ffffff;
}

[data-theme="dark"] {
  --color-bg: #202c36;
  --color-text: #ffffff;
  --color-primary: #2b3844;
}

body {
  font-family: poppins;
  /* overflow-x: hidden; */
}
